<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Page Title -->
    <title>Contact Us</title>
</head>
<body>
<!-- Page Title Starts -->
<section class="page-title page-title-blog text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Contact us</h2>
                <p>Work with us for your better opportunities</p>
            </div>
        </div>
    </div>
</section>
<!-- Page Title End -->

<!-- Contact Form Starts -->
<section class="contact-form section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="d-flex">
                    <div class="into-icon">
                        <i class="fa fa-home"></i>
                    </div>
                    <div class="info-text">
                        <h4>TPHCM</h4>
                        <p>Q7</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="into-icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="info-text">
                        <h4>0123456789</h4>
                        <p>Mon to Fri 9am to 6 pm</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="into-icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="info-text">
                        <h4>hoangdac4646@gmail.com</h4>
                        <p>Send us your query anytime!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <form action="#">
                    <div class="left">
                        <input type="text" placeholder="Enter your name" onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Enter your name'" required>
                        <input type="email" placeholder="Enter email address" onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Enter email address'" required>
                        <input type="text" placeholder="Enter subject" onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Enter subject'" required>
                    </div>
                    <div class="right">
                        <textarea name="message" cols="20" rows="7" placeholder="Enter Message"
                                  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'"
                                  required></textarea>
                    </div>
                    <button type="submit" class="template-btn">send email</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact Form End -->
</body>
</html>
