<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Page Title -->
    <title>Job Single</title>

</head>
<body>
<!-- Page Title Starts -->
<div class="page-title page-title-blog text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Company name</h2>
                <p>Description</p>
            </div>
        </div>
    </div>
</div>
<!-- Page Title End -->
    <!-- Job Single Content Starts -->
    <section class="job-single-content section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="main-content">
                        <h1>Job details</h1>
                        <div class="single-content1">
                            <div class="single-job mb-4 d-lg-flex justify-content-between">
                                <div class="job-text">
                                    <h4>Assistant Executive - Production/ Quality Control</h4>
                                    <ul class="mt-4">
                                        <li class="mb-3"><h5><i class="fas fa-map-marker"></i> new yourk, USA</h5></li>
                                        <li class="mb-3"><h5><i class="fas fa-chart-pie"></i></i> Applied Chemistry & Chemical Engineering / Chemistry</h5></li>
                                        <li class="mb-3"><h5><i class="fas fa-money-bill-wave-alt"></i> Salary: 5000$</h5></li>
                                        <li><h5><i class="fa fa-clock"></i> Deadline Deadline: Dec 11, 2018</h5></li>
                                    </ul>
                                </div>
                                <div class="job-btn align-self-center">
                                    <a href="#" class="template-btn">Apply now</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-content2 py-4">
                            <h4>Senior Laravel Developer <br>It Park International, USA</h4>
                            <p>Senectus non fames aenean montes fringilla. Ipsum phasellus sagittis porttitor quam malesuada montes molestie sollicitudin eleifend dis diam dapibus aenean suspendisse elit pretium, varius pharetra natoque penatibus aptent. Proin neque.</p>
                        </div>
                        <div class="single-content3 py-4">
                            <h4>vacancy</h4>
                            <span class="ml-4">03</span>
                        </div>
                        <div class="single-content4 py-4">
                            <h4>job responsibility</h4>
                            <p>Senectus non fames aenean montes fringilla. Ipsum phasellus sagittis porttitor quam malesuada montes molestie sollicitudin eleifend dis diam dapibus aenean suspendisse elit pretium, varius pharetra natoque penatibus aptent. Proin neque.</p>
                            <ul>
                                <li class="mb-2">Mate dropped a clanger cuppa I chinwag  one plastered cheesed.</li>
                                <li class="mb-2">Mate dropped a clanger cuppa I chinwag  one plastered.</li>
                                <li class="mb-2">Dropped a clanger cuppa I chinwag  one plastered chee</li>
                                <li>Cuppa I chinwag  one plastered cheesed.</li>
                            </ul>
                        </div>
                        <div class="single-content5 py-4">
                            <h4>Educational Requirements</h4>
                            <p>Diploma in Engineering in Computer Science & Engineering, Bachelor in Engineering (BEngg) in Engineering (BEngg) in Computer Science & Enginetering</p>
                            <p>Skills Required: JavaScript,PHP,WordPress,HTML5 & CSS3</p>
                        </div>
                        <div class="single-content6 py-4">
                            <h4>employment status</h4>
                            <span>Part Time/Full Time</span>
                        </div>
                        <div class="single-content7 py-4">
                            <h4>other benifits</h4>
                            <ul class="mt-3">
                                <li class="mb-2">Mate dropped a clanger cuppa I chinwag  one plastered cheesed.</li>
                                <li class="mb-2">Mate dropped a clanger cuppa I chinwag  one plastered.</li>
                                <li class="mb-2">Dropped a clanger cuppa I chinwag  one plastered chee</li>
                                <li>Cuppa I chinwag  one plastered cheesed.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-widget portfolio-widget">
                        <h3>Contact Hiring Manager</h3>
                        <a href="#">
                            <img src="/images/user2.jpg" alt="">
                            <h4>Adele Gonzalez</h4>
                        </a>
                        <p>
                           HR At Facebook
                        </p>
                        <div class="job-btn align-self-center">
                            <a href="#" class="template-btn">Send Email</a>
                        </div>
                        <h6 style="margin-top: 20px">
                            or
                        </h6>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                    <div class="single-widget category-widget">
                        <h4 class="title">People also viewed</h4>
                        <ul>
                            <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Techlology</h6> <span>37</span></a></li>
                            <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Lifestyle</h6> <span>24</span></a></li>
                            <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Fashion</h6> <span>59</span></a></li>
                            <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Art</h6> <span>29</span></a></li>
                            <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Food</h6> <span>15</span></a></li>
                            <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Architecture</h6> <span>09</span></a></li>
                            <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Adventure</h6> <span>44</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Job Single Content End -->


    <!-- Newsletter Area Starts -->
    <section class="newsletter-area job-single section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h2>Get job information daily</h2>
                        <p>Subscribe to our newsletter and get a coupon code!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form action="#">
                        <input type="email" placeholder="Your email here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email here'" required>
                        <button type="submit" class="template-btn">subscribe now</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Newsletter Area End -->
</body>
</html>
