<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/logo/favicon.png" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/animate-3.7.0.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="/css/owl-carousel.min.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- Preloader Starts -->
<div class="preloader">
    <div class="spinner"></div>
</div>
<!-- Preloader End -->

<!-- Header Area Starts -->
<div id="header">
    <%- include('elements/header'); %>
</div>
<!-- Header Area End -->

<!-- Body Area End -->
<div id="body">
<%- body %>
</div>

<!-- Body Area Starts -->

<!-- Footer Area Starts -->
<div id="footer">
<%- include('elements/footer') %>
</div>
<!-- Footer Area End -->


<!-- Javascript -->
<script src="/js/vendor/jquery-2.2.4.min.js"></script>
<script src="/js/vendor/bootstrap-4.1.3.min.js"></script>
<script src="/js/vendor/wow.min.js"></script>
<script src="/js/vendor/owl-carousel.min.js"></script>
<script src="/js/vendor/jquery.nice-select.min.js"></script>
<script src="/js/vendor/ion.rangeSlider.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
