<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<!-- Page Title Starts -->
<div class="page-title page-title-blog text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>This is user's profile</h2>
            </div>
        </div>
    </div>
</div>
<!-- Page Title End -->

<!-- Page Title Starts -->
<section class="job-single-content section-padding2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-widget portfolio-widget">
                    <h3>Employer</h3>
                    <a href="#">
                        <img src="/images/user2.jpg" alt="">
                        <h4>Adele Gonzalez</h4>
                    </a>
                    <p>
                        HR At Facebook
                    </p>
                    <div class="job-btn align-self-center">
                        <a href="#" class="template-btn">Send Email</a>
                    </div>
                    <h6 style="margin-top: 20px">
                        or
                    </h6>
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="main-content">
                    <div class="single-widget">
                        <h3 class="mb-30">Profile</h3>
                        <table class="table table-borderless">
                            <thead>
                            <tr>
                                <th scope="row"><i class="fas fa-user"></i>  Name</th>
                                <td>123</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row"><i class="fas fa-map-marker-alt"></i>  Address</th>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row"><i class="fas fa-envelope-open-text"></i>  Email</th>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row"><i class="fas fa-mobile-alt"></i>  Phone</th>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row"><i class="fas fa-birthday-cake"></i>  D.O.B</th>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row"><i class="fas fa-sign-in-alt"></i>  Joined date</th>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="job-btn text-center">
                            <a href="#" class="template-btn">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <div class="single-widget">
                    <h3 class="title_color">My CVs</h3>
                    <div class="row gallery-item">
                        <div class="col-md-4 text-center">
                            <a href="assets/images/elements/g1.jpg" class="img-gal">
                                <div class="single-gallery-image">
                                    <img src="/images/user2.jpg" alt="">
                                    <div class="container"><h5 class="m-3">123</h5></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 text-center">
                            <a href="assets/images/elements/g1.jpg" class="img-gal">
                                <div class="single-gallery-image">
                                    <img src="/images/user2.jpg" alt="">
                                    <div class="container"><h5 class="m-3">123</h5></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 text-center">
                            <a href="assets/images/elements/g1.jpg" class="img-gal">
                                <div class="single-gallery-image">
                                    <img src="/images/user2.jpg" alt="">
                                    <div class="container"><h5 class="m-3">123</h5></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 text-center">
                            <a href="assets/images/elements/g1.jpg" class="img-gal">
                                <div class="single-gallery-image">
                                    <img src="/images/user2.jpg" alt="">
                                    <div class="container"><h5 class="m-3">123</h5></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 text-center">
                            <a href="assets/images/elements/g1.jpg" class="img-gal">
                                <div class="single-gallery-image">
                                    <img src="/images/user2.jpg" alt="">
                                    <div class="container"><h5 class="m-3">123</h5></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 text-center">
                            <a href="assets/images/elements/g1.jpg" class="img-gal">
                                <div class="single-gallery-image">
                                    <img src="/images/user2.jpg" alt="">
                                    <div class="container"><h5 class="m-3">123</h5></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Title End -->
</body>
</html>
