<div class="single-slide d-sm-flex">
    <div class="slide-img employee1">
        <div class="hover-state">
            <div class="hover-text text-center">
                <h3><%- name %></h3>
            </div>
        </div>
    </div>
    <div class="slide-text align-self-center">
        <i class="fa fa-quote-left"></i>
        <p><%- comment %></p>
    </div>
</div>