<div class="col-lg-3 col-md-6">
    <a href="#">
        <div class="single-category text-center mb-4">
        <img src="<%- image %>" alt="category">
        <h4><%- name %></h4>
        <h5><%- number %></h5>
        </div>
    </a>
</div>