<header class="header-area single-page">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <a href="/"><img id="logo" src="/images/logo/logo_transparent_green.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="main-menu main-menu-light">
                        <ul>
                            <li class="active"><a href="/">home</a></li>
                            <li><a href="/manage-cv">Manage CV</a></li>
                            <li><a href="/job-category">job category</a>
                                <ul class="sub-menu">
                                    <li><a href="#">Accounting</a></li>
                                    <li><a href="#">Production & Operation</a></li>
                                </ul>
                            </li>
                            <li><a href="/contact">contact</a></li>
                            <li><a href="/about">about us</a></li>
                            <li class="menu-btn">
                                <a href="#" class="login">log in</a>
                                <a href="#" class="template-btn">sign up</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h2>About Us</h2>
                    <p>There spirit beginning bearing the open at own every give appear in third you sawe two boys</p>
                </div>
            </div>
        </div>
    </div>
</header>