<div class="single-widget portfolio-widget">
    <img src="images/user2.jpg" alt="">
    <a href="#"><h4>Adele Gonzalez</h4></a>
    <p>
        <%- Description %>
    </p>
    <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a href="#"><i class="fa fa-behance"></i></a></li>
    </ul>
</div>