<div class="col-lg-4 col-md-6">
    <div class="single-company mb-5 mb-lg-0 text-center">
        <div class="company-name">
            <h4><a href="/company/<%- company.CID %>">
                <div class="news-img" style="background-image: url('<%- company.logo %>')"></div>
                <p class="pt-3"><%- company.name %><p></p></a></h4>
        </div>
    </div>
</div>