<div class="col-md-4 text-center">
    <a href="/profile/<%- cv.UID %>/cv/<%- cv.CVID %>">
        <div class="single-gallery-image">
            <img class="thumb-img" src="<%- cv.image %>" alt="">
            <div class="container"><h5 class="m-3"><%- cv.name %></h5></div>
        </div>
    </a>
</div>