<link rel="stylesheet" href="/css/core/bootstrap-4.1.3.min.css">
<body>
<div class="container">
    <div class="card">
        <div class="jumbotron card-body">
            <%- content %>
        </div>
        <div class="card-footer">
            <div class="card-title">
                My CV
            </div>
            <div class="card-body">
                <a href="/profile/<%- UID %>/cv/<%- CVID %>"> Get to my CV</a>
            </div>
        </div>
    </div>
</div>
</body>
