<div class="col-lg-3 col-md-6">
    <a href="/job-category/<%-cate.name%>">
        <div class="single-category text-center mb-4">
            <img src="<%- cate.icon %>" alt="category">
            <h4><%- cate.name %></h4>
            <h5><%- cate.numberOfJobs %></h5>
        </div>
    </a>
</div>
