<div class="single-widget portfolio-widget">
    <h3>Contact Hiring Manager</h3>
    <a href="#">
        <img src="/images/user2.jpg" alt="">
        <h4>Adele Gonzalez</h4>
    </a>
    <p>
        HR At Facebook
    </p>
    <div class="job-btn align-self-center">
        <a href="#" class="template-btn">Send Email</a>
    </div>
    <h6 style="margin-top: 20px">
        or
    </h6>
    <ul>
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
    </ul>
</div>