<div class="container-fluid" style="width: 80%">
    <div class="row">
        <div class="col-lg-12">
            <form action="/job-search" method="get" class="d-md-flex justify-content-between">
                <select name="jobcategory">
                    <option value="all">All Category</option>
                    <% lcJobCategory.forEach(function(cate){ %>
                    <option value="<%= cate.JCID %>"><%= cate.name %></option>
                    <% }); %>
                </select>
                <select name="type">
                    <option value="all">All Type</option>
                    <option value="full time">Full time</option>
                    <option value="part time">Part time</option>
                    <option value="intern">Intern</option>
                </select>
                <select name="level">
                    <option value="all">All Level</option>
                    <option value="trainee">Trainee</option>
                    <option value="fresher">Fresher</option>
                    <option value="experienced">Experienced</option>
                    <option value="manager">Manager</option>
                </select>
                <input type="text" placeholder="Search Keyword" onfocus="this.placeholder = ''"
                       onblur="this.placeholder = 'Search Keyword'" name="keyword">
                <button type="submit" class="template-btn">find job <i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
</div>