<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css" media="all"
      rel="stylesheet" type="text/css" />
<style>
    .kv-avatar .krajee-default.file-preview-frame, .kv-avatar .krajee-default.file-preview-frame:hover {
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
        text-align: center;
    }

    .kv-avatar {
        display: inline-block;
    }

    .kv-avatar .file-input {
        display: table-cell;
        width: 213px;
    }

    .kv-reqd {
        color: red;
        font-family: monospace;
        font-weight: normal;
    }
</style>
<form class="form form-vertical" action="/upload-image" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="text-center">
            <div class="kv-avatar">
                <div class="file-loading">
                    <input id="image-input" name="image" type="file" required>
                </div>
            </div>
            <div class="kv-avatar-hint">
                <small>Select file < 10000 KB</small>
            </div>
        </div>
    </div>
</form>
<div id="kv-avatar-errors-1" class="center-block" style="width:800px;display:none"></div>
